In [1]:
import pandas as pd

In [2]:
suicidedata_df = pd.read_csv("data/master.csv")
suicidedata_df

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,"63,067,077,179",2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,"63,067,077,179",2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,"63,067,077,179",2309,Boomers

In [3]:
renamed_suicidedata_df = suicidedata_df.rename(columns = {' gdp_for_year ($) ':'gdp_for_year',
                                                          'gdp_per_capita ($)':'gdp_per_capita',
                                                         'suicides/100k pop':'suicidesper100pop',
                                                         'HDI for year':'hdi_for_year'})
renamed_suicidedata_df['hdi_for_year'] = pd.to_numeric(renamed_suicidedata_df['hdi_for_year'], errors='coerce')
renamed_suicidedata_df['hdi_for_year'] = renamed_suicidedata_df['hdi_for_year'].fillna(0)
renamed_suicidedata_df["gdp_for_year"] = renamed_suicidedata_df["gdp_for_year"].str.replace(',', '')
renamed_suicidedata_df

,country,year,sex,age,suicides_no,population,suicidesper100pop,country-year,hdi_for_year,gdp_for_year,gdp_per_capita,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,0.000,2156624900,796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,0.000,2156624900,796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,0.000,2156624900,796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,0.000,2156624900,796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,0.000,2156624900,796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,Uzbekistan2014,0.675,63067077179,2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,Uzbekistan2014,0.675,63067077179,2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,Uzbekistan2014,0.675,63067077179,2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,Uzbekistan2014,0.675,63067077179,2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,Uzbekistan2014,0.675,63067077179,2309,Boomers

In [4]:
cleaned_suicidedata = renamed_suicidedata_df.drop(columns=["country-year"])
cleaned_suicidedata

,country,year,sex,age,suicides_no,population,suicidesper100pop,hdi_for_year,gdp_for_year,gdp_per_capita,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,0.000,2156624900,796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,0.000,2156624900,796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,0.000,2156624900,796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,0.000,2156624900,796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,0.000,2156624900,796,Boomers
...,...,...,...,...,...,...,...,...,...,...,...
27815,Uzbekistan,2014,female,35-54 years,107,3620833,2.96,0.675,63067077179,2309,Generation X
27816,Uzbekistan,2014,female,75+ years,9,348465,2.58,0.675,63067077179,2309,Silent
27817,Uzbekistan,2014,male,5-14 years,60,2762158,2.17,0.675,63067077179,2309,Generation Z
27818,Uzbekistan,2014,female,5-14 years,44,2631600,1.67,0.675,63067077179,2309,Generation Z
27819,Uzbekistan,2014,female,55-74 years,21,1438935,1.46,0.675,63067077179,2309,Boomers

In [5]:
# Interactive choropleth map with hover â€“ by city and suicide number
# Line chart â€“ number of suicides by age
# Bar chart â€“ Top 10 countries by number of suicides
# Pie chart â€“ Male vs Female suicide rate
# Scatter plot â€“ check for correlation between GDP and number of suicides
# Scatter plot â€“ Y- axis â€“ beginning year of dataset, X-axis â€“ ending year of our dataset

In [ ]:
# https://stackoverflow.com/questions/23103962/how-to-write-dataframe-to-postgres-table#:~:text=to_sql%20method%20and%20you%20won,inserted%20in%20your%20postgres%20table.

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import inspect,create_engine, func

password = "secu:0502"
engine = create_engine(f'postgresql://postgres:{password}@localhost:5432/suicide_db')
# cleaned_suicidedata.to_sql('suicidedata', engine)

In [10]:
inspector = inspect(engine)
inspector.get_table_names() 
columns = inspector.get_columns('suicidedata')

In [11]:
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

[]

In [7]:
data = pd.read_sql_query('SELECT * FROM suicidedata',con=engine)

In [8]:
results = engine.execute("SELECT country, SUM(suicides_no) AS suicides FROM suicidedata GROUP BY country ORDER BY suicides DESC")

output = {}
for result in results:
    output[result['country']] = int(result['suicides'])

In [9]:
print(output)

{'Russian Federation': 1209742, 'United States': 1034013, 'Japan': 806902, 'France': 329127, 'Ukraine': 319950, 'Germany': 291262, 'Republic of Korea': 261730, 'Brazil': 226613, 'Poland': 139098, 'United Kingdom': 136805, 'Italy': 132060, 'Mexico': 111139, 'Thailand': 110643, 'Canada': 107561, 'Kazakhstan': 101546, 'Spain': 100202, 'Argentina': 82219, 'Hungary': 73891, 'Romania': 72777, 'Australia': 70111, 'Belgium': 62761, 'Belarus': 59892, 'Sri Lanka': 55641, 'Colombia': 53080, 'Netherlands': 50833, 'Austria': 50073, 'Czech Republic': 43687, 'Cuba': 41418, 'Chile': 40895, 'Sweden': 37795, 'Bulgaria': 36388, 'Uzbekistan': 34803, 'Finland': 33677, 'Lithuania': 28039, 'Switzerland': 26217, 'Serbia': 24179, 'Portugal': 24061, 'Philippines': 21330, 'Ecuador': 20660, 'Croatia': 18429, 'Norway': 16992, 'Denmark': 15297, 'New Zealand': 14383, 'Slovakia': 13437, 'Uruguay': 13138, 'Kyrgyzstan': 13090, 'Latvia': 12770, 'Ireland': 12574, 'Greece': 12368, 'El Salvador': 11683, 'Israel': 11294, 'Slovenia': 10615, 'Turkey': 10131, 'Singapore': 10089, 'Puerto Rico': 9043, 'Turkmenistan': 8624, 'Guatemala': 8149, 'South Africa': 7321, 'Estonia': 7034, 'Costa Rica': 6792, 'Paraguay': 4783, 'Trinidad and Tobago': 4039, 'Mauritius': 3894, 'Panama': 3483, 'Guyana': 3426, 'Georgia': 3224, 'Suriname': 2166, 'Nicaragua': 2013, 'Albania': 1970, 'Luxembourg': 1958, 'Armenia': 1905, 'Azerbaijan': 1656, 'Iceland': 1108, 'Kuwait': 966, 'United Arab Emirates': 622, 'Malta': 585, 'Qatar': 574, 'Montenegro': 472, 'Bahrain': 463, 'Mongolia': 423, 'Cyprus': 412, 'Belize': 348, 'Bosnia and Herzegovina': 318, 'Fiji': 304, 'Saint Lucia': 230, 'Jamaica': 184, 'Barbados': 177, 'Saint Vincent and Grenadines': 124, 'Aruba': 101, 'Seychelles': 98, 'Bahamas': 93, 'Kiribati': 53, 'Cabo Verde': 42, 'Grenada': 38, 'Oman': 33, 'Macau': 27, 'Maldives': 20, 'Antigua and Barbuda': 11, 'San Marino': 4, 'Saint Kitts and Nevis': 0, 'Dominica': 0}

In [15]:
results = engine.execute("SELECT DISTINCT country, SUM(suicides_no) AS suicides, MAX(gdp_for_year) AS gdp_for_year FROM suicidedata WHERE year = 1985 GROUP BY country;")

output = {}
for result in results:
    output[result['country']] = {
            'suicides': int(result['suicides']),
            'gdp': result['gdp_for_year']
    }
print(output)

{'Antigua and Barbuda': {'suicides': 0, 'gdp': '240923926'}, 'Argentina': {'suicides': 1988, 'gdp': '88416668900'}, 'Australia': {'suicides': 1861, 'gdp': '180190994861'}, 'Austria': {'suicides': 2091, 'gdp': '69386774475'}, 'Bahamas': {'suicides': 1, 'gdp': '2320699900'}, 'Bahrain': {'suicides': 11, 'gdp': '3651861702'}, 'Barbados': {'suicides': 7, 'gdp': '1417575550'}, 'Belgium': {'suicides': 2281, 'gdp': '86730038793'}, 'Brazil': {'suicides': 4228, 'gdp': '222942790435'}, 'Bulgaria': {'suicides': 1456, 'gdp': '17155421053'}, 'Canada': {'suicides': 3258, 'gdp': '364756499451'}, 'Chile': {'suicides': 683, 'gdp': '17702885394'}, 'Colombia': {'suicides': 1001, 'gdp': '34894411352'}, 'Costa Rica': {'suicides': 128, 'gdp': '4796628461'}, 'Dominica': {'suicides': 0, 'gdp': '98585185'}, 'Ecuador': {'suicides': 393, 'gdp': '17149094590'}, 'France': {'suicides': 12501, 'gdp': '553138414367'}, 'Greece': {'suicides': 405, 'gdp': '47820850975'}, 'Grenada': {'suicides': 1, 'gdp': '167728444'}, 'Iceland': {'suicides': 32, 'gdp': '2939845038'}, 'Ireland': {'suicides': 276, 'gdp': '21295486383'}, 'Israel': {'suicides': 234, 'gdp': '27493591484'}, 'Italy': {'suicides': 4759, 'gdp': '450725816043'}, 'Jamaica': {'suicides': 8, 'gdp': '2100223150'}, 'Japan': {'suicides': 23257, 'gdp': '1398892744821'}, 'Kuwait': {'suicides': 17, 'gdp': '21442619681'}, 'Luxembourg': {'suicides': 55, 'gdp': '4738559685'}, 'Malta': {'suicides': 2, 'gdp': '1117835286'}, 'Mauritius': {'suicides': 104, 'gdp': '1080642033'}, 'Mexico': {'suicides': 1544, 'gdp': '184472557415'}, 'Netherlands': {'suicides': 1638, 'gdp': '142009922306'}, 'New Zealand': {'suicides': 338, 'gdp': '24950895141'}, 'Panama': {'suicides': 56, 'gdp': '6541517100'}, 'Paraguay': {'suicides': 63, 'gdp': '2966234106'}, 'Portugal': {'suicides': 983, 'gdp': '27118476174'}, 'Puerto Rico': {'suicides': 269, 'gdp': '20289200000'}, 'Republic of Korea': {'suicides': 3689, 'gdp': '100273097170'}, 'Saint Vincent and Grenadines': {'suicides': 2, 'gdp': '145641704'}, 'Seychelles': {'suicides': 8, 'gdp': '168887539'}, 'Singapore': {'suicides': 324, 'gdp': '19138296376'}, 'Spain': {'suicides': 2514, 'gdp': '180302412231'}, 'Sri Lanka': {'suicides': 5668, 'gdp': '5978460972'}, 'Suriname': {'suicides': 80, 'gdp': '873250000'}, 'Thailand': {'suicides': 2982, 'gdp': '38900692712'}, 'Trinidad and Tobago': {'suicides': 29, 'gdp': '7375918367'}, 'United Kingdom': {'suicides': 5105, 'gdp': '489285164271'}, 'United States': {'suicides': 29446, 'gdp': '4346734000000'}, 'Uruguay': {'suicides': 287, 'gdp': '4732017873'}}

In [13]:
results = engine.execute("SELECT year, sex, SUM(suicides_no) AS suicides FROM suicidedata GROUP BY year,sex;")
output = []
for result in results:
    yearly_result = {
        'year': result['year'],
        'sex': result['sex'],
        'suicides': int(result['suicides'])
    }
    output.append(yearly_result)

In [14]:
output

[{'year': 1990, 'sex': 'male', 'suicides': 143243},
 {'year': 2009, 'sex': 'female', 'suicides': 54920},
 {'year': 1990, 'sex': 'female', 'suicides': 50118},
 {'year': 2013, 'sex': 'male', 'suicides': 171740},
 {'year': 2008, 'sex': 'male', 'suicides': 181474},
 {'year': 2014, 'sex': 'female', 'suicides': 51556},
 {'year': 1999, 'sex': 'male', 'suicides': 199904},
 {'year': 1994, 'sex': 'female', 'suicides': 51532},
 {'year': 1985, 'sex': 'male', 'suicides': 83584},
 {'year': 2000, 'sex': 'male', 'suicides': 200578},
 {'year': 2016, 'sex': 'female', 'suicides': 3504},
 {'year': 1988, 'sex': 'male', 'suicides': 88011},
 {'year': 2006, 'sex': 'female', 'suicides': 52039},
 {'year': 2002, 'sex': 'male', 'suicides': 200546},
 {'year': 1989, 'sex': 'male', 'suicides': 118883},
 {'year': 2003, 'sex': 'male', 'suicides': 200452},
 {'year': 2001, 'sex': 'male', 'suicides': 197653},
 {'year': 2010, 'sex': 'male', 'suicides': 184480},
 {'year': 1989, 'sex': 'female', 'suicides': 41361},
 {'year': 2007, 'sex': 'male', 'suicides': 180084},
 {'year': 1996, 'sex': 'female', 'suicides': 54583},
 {'year': 1995, 'sex': 'female', 'suicides': 54504},
 {'year': 1987, 'sex': 'male', 'suicides': 91836},
 {'year': 1996, 'sex': 'male', 'suicides': 192142},
 {'year': 2006, 'sex': 'male', 'suicides': 181322},
 {'year': 2009, 'sex': 'male', 'suicides': 188567},
 {'year': 1997, 'sex': 'male', 'suicides': 186619},
 {'year': 1992, 'sex': 'male', 'suicides': 159906},
 {'year': 1992, 'sex': 'female', 'suicides': 51567},
 {'year': 1985, 'sex': 'female', 'suicides': 32479},
 {'year': 2007, 'sex': 'female', 'suicides': 53324},
 {'year': 2012, 'sex': 'male', 'suicides': 177149},
 {'year': 1986, 'sex': 'male', 'suicides': 86818},
 {'year': 2008, 'sex': 'female', 'suicides': 53973},
 {'year': 2004, 'sex': 'female', 'suicides': 53232},
 {'year': 1993, 'sex': 'female', 'suicides': 51331},
 {'year': 2002, 'sex': 'female', 'suicides': 55549},
 {'year': 1999, 'sex': 'female', 'suicides': 56215},
 {'year': 2001, 'sex': 'female', 'suicides': 52999},
 {'year': 2012, 'sex': 'female', 'suicides': 53011},
 {'year': 2004, 'sex': 'male', 'suicides': 187629},
 {'year': 1988, 'sex': 'female', 'suicides': 33015},
 {'year': 2011, 'sex': 'male', 'suicides': 181868},
 {'year': 2005, 'sex': 'male', 'suicides': 182340},
 {'year': 1993, 'sex': 'male', 'suicides': 170234},
 {'year': 1998, 'sex': 'female', 'suicides': 55631},
 {'year': 1987, 'sex': 'female', 'suicides': 35006},
 {'year': 2016, 'sex': 'male', 'suicides': 12099},
 {'year': 2015, 'sex': 'female', 'suicides': 47248},
 {'year': 2015, 'sex': 'male', 'suicides': 156392},
 {'year': 1991, 'sex': 'female', 'suicides': 49622},
 {'year': 1991, 'sex': 'male', 'suicides': 148398},
 {'year': 2005, 'sex': 'female', 'suicides': 52035},
 {'year': 2011, 'sex': 'female', 'suicides': 54616},
 {'year': 2013, 'sex': 'female', 'suicides': 51459},
 {'year': 1986, 'sex': 'female', 'suicides': 33852},
 {'year': 1995, 'sex': 'male', 'suicides': 189040},
 {'year': 1997, 'sex': 'female', 'suicides': 54126},
 {'year': 1998, 'sex': 'male', 'suicides': 193960},
 {'year': 2000, 'sex': 'female', 'suicides': 55254},
 {'year': 2010, 'sex': 'female', 'suicides': 54222},
 {'year': 2003, 'sex': 'female', 'suicides': 55627},
 {'year': 1994, 'sex': 'male', 'suicides': 180531},
 {'year': 2014, 'sex': 'male', 'suicides': 171428}]

In [44]:
# import itertools
# from operator import itemgetter
# sorted_output = sorted(output, key=itemgetter('year'))
    
# yearlylist=[]
# # Display data grouped by `class`
# for key, value in itertools.groupby(sorted_output, key=itemgetter('year')):
#     print (key)
#     for i in value:
#         print (i.get('sex'),i.get('suicides'))
#         yearlylist.append({
#             key:{
#                 i.get('sex'):i.get('suicides')
#             }
#         })
        #print(f'{key}:{{i.get('sex')}:{i.get('suicides')}}')
    
import itertools
from operator import itemgetter
yearly_results = {}
sorted_output = sorted(output, key=itemgetter('year'))
for key, group in itertools.groupby(sorted_output, key=lambda x:x['year']):
    yearly_results[key] = list(group)

In [43]:
output_results

{1985: [{'year': 1985, 'sex': 'male', 'suicides': 83584},
  {'year': 1985, 'sex': 'female', 'suicides': 32479}],
 1986: [{'year': 1986, 'sex': 'male', 'suicides': 86818},
  {'year': 1986, 'sex': 'female', 'suicides': 33852}],
 1987: [{'year': 1987, 'sex': 'male', 'suicides': 91836},
  {'year': 1987, 'sex': 'female', 'suicides': 35006}],
 1988: [{'year': 1988, 'sex': 'male', 'suicides': 88011},
  {'year': 1988, 'sex': 'female', 'suicides': 33015}],
 1989: [{'year': 1989, 'sex': 'male', 'suicides': 118883},
  {'year': 1989, 'sex': 'female', 'suicides': 41361}],
 1990: [{'year': 1990, 'sex': 'male', 'suicides': 143243},
  {'year': 1990, 'sex': 'female', 'suicides': 50118}],
 1991: [{'year': 1991, 'sex': 'female', 'suicides': 49622},
  {'year': 1991, 'sex': 'male', 'suicides': 148398}],
 1992: [{'year': 1992, 'sex': 'male', 'suicides': 159906},
  {'year': 1992, 'sex': 'female', 'suicides': 51567}],
 1993: [{'year': 1993, 'sex': 'female', 'suicides': 51331},
  {'year': 1993, 'sex': 'male', 'suicides': 170234}],
 1994: [{'year': 1994, 'sex': 'female', 'suicides': 51532},
  {'year': 1994, 'sex': 'male', 'suicides': 180531}],
 1995: [{'year': 1995, 'sex': 'female', 'suicides': 54504},
  {'year': 1995, 'sex': 'male', 'suicides': 189040}],
 1996: [{'year': 1996, 'sex': 'female', 'suicides': 54583},
  {'year': 1996, 'sex': 'male', 'suicides': 192142}],
 1997: [{'year': 1997, 'sex': 'male', 'suicides': 186619},
  {'year': 1997, 'sex': 'female', 'suicides': 54126}],
 1998: [{'year': 1998, 'sex': 'female', 'suicides': 55631},
  {'year': 1998, 'sex': 'male', 'suicides': 193960}],
 1999: [{'year': 1999, 'sex': 'male', 'suicides': 199904},
  {'year': 1999, 'sex': 'female', 'suicides': 56215}],
 2000: [{'year': 2000, 'sex': 'male', 'suicides': 200578},
  {'year': 2000, 'sex': 'female', 'suicides': 55254}],
 2001: [{'year': 2001, 'sex': 'male', 'suicides': 197653},
  {'year': 2001, 'sex': 'female', 'suicides': 52999}],
 2002: [{'year': 2002, 'sex': 'male', 'suicides': 200546},
  {'year': 2002, 'sex': 'female', 'suicides': 55549}],
 2003: [{'year': 2003, 'sex': 'male', 'suicides': 200452},
  {'year': 2003, 'sex': 'female', 'suicides': 55627}],
 2004: [{'year': 2004, 'sex': 'female', 'suicides': 53232},
  {'year': 2004, 'sex': 'male', 'suicides': 187629}],
 2005: [{'year': 2005, 'sex': 'male', 'suicides': 182340},
  {'year': 2005, 'sex': 'female', 'suicides': 52035}],
 2006: [{'year': 2006, 'sex': 'female', 'suicides': 52039},
  {'year': 2006, 'sex': 'male', 'suicides': 181322}],
 2007: [{'year': 2007, 'sex': 'male', 'suicides': 180084},
  {'year': 2007, 'sex': 'female', 'suicides': 53324}],
 2008: [{'year': 2008, 'sex': 'male', 'suicides': 181474},
  {'year': 2008, 'sex': 'female', 'suicides': 53973}],
 2009: [{'year': 2009, 'sex': 'female', 'suicides': 54920},
  {'year': 2009, 'sex': 'male', 'suicides': 188567}],
 2010: [{'year': 2010, 'sex': 'male', 'suicides': 184480},
  {'year': 2010, 'sex': 'female', 'suicides': 54222}],
 2011: [{'year': 2011, 'sex': 'male', 'suicides': 181868},
  {'year': 2011, 'sex': 'female', 'suicides': 54616}],
 2012: [{'year': 2012, 'sex': 'male', 'suicides': 177149},
  {'year': 2012, 'sex': 'female', 'suicides': 53011}],
 2013: [{'year': 2013, 'sex': 'male', 'suicides': 171740},
  {'year': 2013, 'sex': 'female', 'suicides': 51459}],
 2014: [{'year': 2014, 'sex': 'female', 'suicides': 51556},
  {'year': 2014, 'sex': 'male', 'suicides': 171428}],
 2015: [{'year': 2015, 'sex': 'female', 'suicides': 47248},
  {'year': 2015, 'sex': 'male', 'suicides': 156392}],
 2016: [{'year': 2016, 'sex': 'female', 'suicides': 3504},
  {'year': 2016, 'sex': 'male', 'suicides': 12099}]}

In [28]:
sorted_output

[{'year': 1985, 'sex': 'male', 'suicides': 83584},
 {'year': 1985, 'sex': 'female', 'suicides': 32479},
 {'year': 1986, 'sex': 'male', 'suicides': 86818},
 {'year': 1986, 'sex': 'female', 'suicides': 33852},
 {'year': 1987, 'sex': 'male', 'suicides': 91836},
 {'year': 1987, 'sex': 'female', 'suicides': 35006},
 {'year': 1988, 'sex': 'male', 'suicides': 88011},
 {'year': 1988, 'sex': 'female', 'suicides': 33015},
 {'year': 1989, 'sex': 'male', 'suicides': 118883},
 {'year': 1989, 'sex': 'female', 'suicides': 41361},
 {'year': 1990, 'sex': 'male', 'suicides': 143243},
 {'year': 1990, 'sex': 'female', 'suicides': 50118},
 {'year': 1991, 'sex': 'female', 'suicides': 49622},
 {'year': 1991, 'sex': 'male', 'suicides': 148398},
 {'year': 1992, 'sex': 'male', 'suicides': 159906},
 {'year': 1992, 'sex': 'female', 'suicides': 51567},
 {'year': 1993, 'sex': 'female', 'suicides': 51331},
 {'year': 1993, 'sex': 'male', 'suicides': 170234},
 {'year': 1994, 'sex': 'female', 'suicides': 51532},
 {'year': 1994, 'sex': 'male', 'suicides': 180531},
 {'year': 1995, 'sex': 'female', 'suicides': 54504},
 {'year': 1995, 'sex': 'male', 'suicides': 189040},
 {'year': 1996, 'sex': 'female', 'suicides': 54583},
 {'year': 1996, 'sex': 'male', 'suicides': 192142},
 {'year': 1997, 'sex': 'male', 'suicides': 186619},
 {'year': 1997, 'sex': 'female', 'suicides': 54126},
 {'year': 1998, 'sex': 'female', 'suicides': 55631},
 {'year': 1998, 'sex': 'male', 'suicides': 193960},
 {'year': 1999, 'sex': 'male', 'suicides': 199904},
 {'year': 1999, 'sex': 'female', 'suicides': 56215},
 {'year': 2000, 'sex': 'male', 'suicides': 200578},
 {'year': 2000, 'sex': 'female', 'suicides': 55254},
 {'year': 2001, 'sex': 'male', 'suicides': 197653},
 {'year': 2001, 'sex': 'female', 'suicides': 52999},
 {'year': 2002, 'sex': 'male', 'suicides': 200546},
 {'year': 2002, 'sex': 'female', 'suicides': 55549},
 {'year': 2003, 'sex': 'male', 'suicides': 200452},
 {'year': 2003, 'sex': 'female', 'suicides': 55627},
 {'year': 2004, 'sex': 'female', 'suicides': 53232},
 {'year': 2004, 'sex': 'male', 'suicides': 187629},
 {'year': 2005, 'sex': 'male', 'suicides': 182340},
 {'year': 2005, 'sex': 'female', 'suicides': 52035},
 {'year': 2006, 'sex': 'female', 'suicides': 52039},
 {'year': 2006, 'sex': 'male', 'suicides': 181322},
 {'year': 2007, 'sex': 'male', 'suicides': 180084},
 {'year': 2007, 'sex': 'female', 'suicides': 53324},
 {'year': 2008, 'sex': 'male', 'suicides': 181474},
 {'year': 2008, 'sex': 'female', 'suicides': 53973},
 {'year': 2009, 'sex': 'female', 'suicides': 54920},
 {'year': 2009, 'sex': 'male', 'suicides': 188567},
 {'year': 2010, 'sex': 'male', 'suicides': 184480},
 {'year': 2010, 'sex': 'female', 'suicides': 54222},
 {'year': 2011, 'sex': 'male', 'suicides': 181868},
 {'year': 2011, 'sex': 'female', 'suicides': 54616},
 {'year': 2012, 'sex': 'male', 'suicides': 177149},
 {'year': 2012, 'sex': 'female', 'suicides': 53011},
 {'year': 2013, 'sex': 'male', 'suicides': 171740},
 {'year': 2013, 'sex': 'female', 'suicides': 51459},
 {'year': 2014, 'sex': 'female', 'suicides': 51556},
 {'year': 2014, 'sex': 'male', 'suicides': 171428},
 {'year': 2015, 'sex': 'female', 'suicides': 47248},
 {'year': 2015, 'sex': 'male', 'suicides': 156392},
 {'year': 2016, 'sex': 'female', 'suicides': 3504},
 {'year': 2016, 'sex': 'male', 'suicides': 12099}]